/* Agregar en tu archivo CSS */
.full-width {
    width: 100%;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-label {
    font-weight: bold;
    width: 6rem;
  }
  
  .form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
  